# Copyright 2025 Schibsted News Media AB.
# Licensed under the terms of the Apache 2.0 license. See LICENSE in the project root.

.DS_Store

## Build generated
build/
DerivedData/
BuildSystem/.fl*

## Xcode
*.xcproj
*.xcworkspace
*.xctimeline

## Other
*.moved-aside
*.orig
.autoformatter

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm
.swiftlint
Packages/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

